<div class="max-w-2xl max-h-[80vh] overflow-y-auto scrollbar-hidden rounded-xl sm:p-8 bg-white">
  <div *ngIf="experience">
    <div class=" flex justify-content">
    <h3 class="font-bold text-lg">{{ experience.title }}</h3>
    <button (click)="close.emit()" type="button" class="btn btn-sm btn-circle btn-ghost absolute right-5 top-4">X</button>
    </div>
    <p class="py-2 text-sm text-base-content/70">{{ experience.position }} • {{ experience.companyName }}</p>
    <p class="py-4 whitespace-pre-line">{{ experience.summary }}</p>
    <div class="space-y-4 mt-4">
      <h4 class="font-semibold text-base">Interview Questions</h4>
      <div *ngFor="let q of experience.questions" class="rounded-xl border border-base-300 p-4 text-sm bg-base-200 space-y-2">
        <p class="font-medium">{{ q.question }}</p>
        <span class="text-xs text-base-content/60 italic">{{ q.type }}</span>
      </div>
    </div>
  </div>
  
</div>